# combine
combine/node_modules/
npm-debug.log*

# mihomo runtime — здесь твои узлы/подписки, НЕ коммитить
mihomo/sources.json
mihomo/hwid.txt
mihomo/providers/
mihomo/ui/
mihomo/.cache/
mihomo/cache.db

# прочее
*.deb
out/
.DS_Store
